@(message: String)

@import helper._

@main("TODO LIST") {

	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
		<div class="navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a href="" class="navbar-brand">Home</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse"
					role="navigation">
					<ul class="nav navbar-nav">
						<li><a href="">Ajuda</a></li>
						<li><a href="">Dicas</a></li>
						<li><a href="">Overview</a></li>
						<li class="active"><a href="">Colabore</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="">Sobre</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="btn-default" id="content">
			<div class="container">
				<h1>Todo List</h1>
				<p>Organize suas tarefas e ganhe muito mais produtividade no seu
					dia-a-dia!</p>
			</div>
	</div>
	<div class="bs-old-docs">
		<div class="container">

		</div>
	</div>

	<div class="wrapper" style="height: 100%;">

	</div>
}
